body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at center, #2c2c54, #1e1e2f); /* base gradient */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #ff6b6b;
    text-align: center;
    transition: background 0.2s ease;
}

h1 {
    font-size: 3em;
}

h1:hover {
    cursor: pointer;
    color: #2c2c54;
}

h1:hover::before {
    display: inline;
    margin-right: 10px;
}

p {
    font-size: 1.2em;
    color: #ff9f9f;
}

#counter {
    font-size: 2em;
    margin-top: 20px;
}
